var format = function (value) {
    var m = value.split('').reverse().join('').slice(0, 2).split('').reverse().join('');
    var h = value.split('').reverse().join('').slice(2, 4).split('').reverse().join('');
    return h + ':' + m;
};
var getOrderStatus = function (value) {
    var status = '';
    switch (value) {
        case '0':
            status = '已预约';
            break;
        case '1':
            status = '已取号';
            break;
        case '2':
            status = '已取消';
            break;
        case '3':
            status = '已毁约';
            break;
    }
    return status;
};
module.exports = {
    format: format,
    getOrderStatus: getOrderStatus
};
